/*home CSS*/
#main_information{
	width: 67.5%;
	float: left;
	font-family: 'impact';
	color: black;
	margin-left: 1rem;
}

#page_information{
	width: 100%;
}

.para{
	font-size: 1.5rem;
	float: left;
	border: 0.125rem solid #B4E1F0;
	padding: 1rem;
	margin-top: 1rem;
}

#links_wrapper{
	width: 100%;
	float: left;
	font-family: 'impact';
	color: black;
}

.box	{
	width: 32%;
	float: left;
	height: auto;
	margin-right: 1.15rem;
}

.box_image	{
	width: 100%;
	height: auto;
}

#box_image_free{
	margin-right: 0px;
}

@media screen and (max-width: 1400px){
	#main_information{
		width: 90%;
		margin: auto;
		float: none;
	}
}

@media screen and (max-width: 1000px){
	.box{
		float: none;
		margin: auto;
	}
	#box_image_free{
		float: none;
		margin: auto;
	}
}

@media screen and (max-width: 800px){
	.para{
		font-size: 1rem;
		margin-top: 0;
	}
	#main_information{
		width: 95%;
	}
}
